:root{
    --branco: white;
    /*--branco: #E7E7E7;*/
    --black: rgb(0, 0, 0);

}

.space-img-work{
    width: 100%;
    height: 5rem;

}

.space-content-text{
    width: 100%;
    height: 13rem;

}

.div-work h2{
    font-size: 2.7rem;
    color: var(--black);
    font-weight: bold;

}

.div-work p{
    font-size: 2.7rem;
    color: var(--black);
    font-weight: 500;  
    cursor: text;

}

.container-img-work{
    width: 100%;

}

.content-img-work{
    width: 100%;
    margin: 0 auto;
    height: 70rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.content-work{
    margin: 0 auto;
    max-width: 150rem;
    padding: 0 5rem 0 5rem;

}

.content-work h1{
    font-size: 3rem;
    font-weight: 500;

}

.content-work p{
    font-size: 3rem;
    font-weight: 400;
    color: var(--black);

}

.div-galery-work-camp{
    width: 100%;
    height: 80rem;
    margin-bottom: 10rem;
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;

}